/* -----------------------------------------------------------------------------------
	Relevant classes				Block status					Applied styles
	.mbl-blocked-temp				Temporarily blocked locally		07ST
	.mbl-blocked-indef				Indefinitely blocked locally	04ST
	.mbl-blocked-partial			Partially blocked locally		DU
	.mbl-globally-locked			Locked globally					04RU
	.mbl-globally-blocked-indef		Temporarily blocked globally	04RU
	.mbl-globally-blocked-temp		Indefinitely blocked globally	07RU
	Abbreviations
	04 - opacity 0.4
	07 - opacity 0.7
	ST - strike through
	DU - dot under
	RU - red under
-------------------------------------------------------------------------------------- */

/* Config */
#mblc-container {
	position: relative;
}
#mblc-container-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#mblc-optionfield {
	padding: 1em;
	margin: 0;
	border: 1px solid var(--border-color-subtle, #c8ccd1);
}
#mblc-save {
	margin-top: 0.5em;
}

/* General */
.mbl-userlink {
	opacity: 0.85;
}
/* DU */
.mbl-userlink:not(.mbl-blocked-temp):not(.mbl-blocked-indef).mbl-blocked-partial:not(.mbl-globally-locked):not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp) {
	text-decoration: underline dotted;
}
/* 04ST */
.mbl-userlink.mbl-blocked-temp.mbl-blocked-indef.mbl-blocked-partial:not(.mbl-globally-locked):not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp),
.mbl-userlink.mbl-blocked-temp.mbl-blocked-indef:not(.mbl-blocked-partial):not(.mbl-globally-locked):not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp),
.mbl-userlink:not(.mbl-blocked-temp).mbl-blocked-indef.mbl-blocked-partial:not(.mbl-globally-locked):not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp),
.mbl-userlink:not(.mbl-blocked-temp).mbl-blocked-indef:not(.mbl-blocked-partial):not(.mbl-globally-locked):not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp)
{
	opacity: 0.4;
	text-decoration: line-through;
}
/* 07ST */
.mbl-userlink.mbl-blocked-temp:not(.mbl-blocked-indef).mbl-blocked-partial:not(.mbl-globally-locked):not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp),
.mbl-userlink.mbl-blocked-temp:not(.mbl-blocked-indef):not(.mbl-blocked-partial):not(.mbl-globally-locked):not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp)
{
	opacity: 0.7;
	text-decoration: line-through;
}
/* 04RU */
.mbl-userlink:not(.mbl-blocked-temp):not(.mbl-blocked-indef):not(.mbl-blocked-partial).mbl-globally-locked:not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp),
.mbl-userlink:not(.mbl-blocked-temp):not(.mbl-blocked-indef):not(.mbl-blocked-partial):not(.mbl-globally-locked).mbl-globally-blocked-indef.mbl-globally-blocked-temp,
.mbl-userlink:not(.mbl-blocked-temp):not(.mbl-blocked-indef):not(.mbl-blocked-partial):not(.mbl-globally-locked).mbl-globally-blocked-indef:not(.mbl-globally-blocked-temp)
{
	opacity: 0.4;
	border-bottom: dashed medium red;
}
/* 07RU */
.mbl-userlink:not(.mbl-blocked-temp):not(.mbl-blocked-indef):not(.mbl-blocked-partial):not(.mbl-globally-locked):not(.mbl-globally-blocked-indef).mbl-globally-blocked-temp
{
	opacity: 0.7;
	border-bottom: dashed medium red;
}
/* 04STRU */
.mbl-userlink.mbl-blocked-temp.mbl-blocked-indef.mbl-blocked-partial:not(.mbl-globally-locked).mbl-globally-blocked-indef.mbl-globally-blocked-temp,
.mbl-userlink.mbl-blocked-temp.mbl-blocked-indef.mbl-blocked-partial:not(.mbl-globally-locked).mbl-globally-blocked-indef:not(.mbl-globally-blocked-temp),
.mbl-userlink.mbl-blocked-temp.mbl-blocked-indef.mbl-blocked-partial:not(.mbl-globally-locked):not(.mbl-globally-blocked-indef).mbl-globally-blocked-temp,
.mbl-userlink.mbl-blocked-temp.mbl-blocked-indef:not(.mbl-blocked-partial):not(.mbl-globally-locked).mbl-globally-blocked-indef.mbl-globally-blocked-temp,
.mbl-userlink.mbl-blocked-temp.mbl-blocked-indef:not(.mbl-blocked-partial):not(.mbl-globally-locked).mbl-globally-blocked-indef:not(.mbl-globally-blocked-temp),
.mbl-userlink.mbl-blocked-temp.mbl-blocked-indef:not(.mbl-blocked-partial):not(.mbl-globally-locked):not(.mbl-globally-blocked-indef).mbl-globally-blocked-temp,
.mbl-userlink.mbl-blocked-temp:not(.mbl-blocked-indef).mbl-blocked-partial:not(.mbl-globally-locked).mbl-globally-blocked-indef.mbl-globally-blocked-temp,
.mbl-userlink.mbl-blocked-temp:not(.mbl-blocked-indef).mbl-blocked-partial:not(.mbl-globally-locked).mbl-globally-blocked-indef:not(.mbl-globally-blocked-temp),
.mbl-userlink.mbl-blocked-temp:not(.mbl-blocked-indef):not(.mbl-blocked-partial).mbl-globally-locked:not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp),
.mbl-userlink.mbl-blocked-temp:not(.mbl-blocked-indef):not(.mbl-blocked-partial):not(.mbl-globally-locked).mbl-globally-blocked-indef.mbl-globally-blocked-temp,
.mbl-userlink.mbl-blocked-temp:not(.mbl-blocked-indef):not(.mbl-blocked-partial):not(.mbl-globally-locked).mbl-globally-blocked-indef:not(.mbl-globally-blocked-temp),
.mbl-userlink:not(.mbl-blocked-temp).mbl-blocked-indef.mbl-blocked-partial:not(.mbl-globally-locked).mbl-globally-blocked-indef.mbl-globally-blocked-temp,
.mbl-userlink:not(.mbl-blocked-temp).mbl-blocked-indef.mbl-blocked-partial:not(.mbl-globally-locked).mbl-globally-blocked-indef:not(.mbl-globally-blocked-temp),
.mbl-userlink:not(.mbl-blocked-temp).mbl-blocked-indef.mbl-blocked-partial:not(.mbl-globally-locked):not(.mbl-globally-blocked-indef).mbl-globally-blocked-temp,
.mbl-userlink:not(.mbl-blocked-temp).mbl-blocked-indef:not(.mbl-blocked-partial).mbl-globally-locked:not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp),
.mbl-userlink:not(.mbl-blocked-temp).mbl-blocked-indef:not(.mbl-blocked-partial):not(.mbl-globally-locked).mbl-globally-blocked-indef.mbl-globally-blocked-temp,
.mbl-userlink:not(.mbl-blocked-temp).mbl-blocked-indef:not(.mbl-blocked-partial):not(.mbl-globally-locked).mbl-globally-blocked-indef:not(.mbl-globally-blocked-temp),
.mbl-userlink:not(.mbl-blocked-temp).mbl-blocked-indef:not(.mbl-blocked-partial):not(.mbl-globally-locked):not(.mbl-globally-blocked-indef).mbl-globally-blocked-temp
{
	opacity: 0.4;
	text-decoration: line-through;
	border-bottom: dashed medium red;
}
/* 07STRU */
.mbl-userlink.mbl-blocked-temp:not(.mbl-blocked-indef).mbl-blocked-partial:not(.mbl-globally-locked):not(.mbl-globally-blocked-indef).mbl-globally-blocked-temp,
.mbl-userlink.mbl-blocked-temp:not(.mbl-blocked-indef):not(.mbl-blocked-partial):not(.mbl-globally-locked):not(.mbl-globally-blocked-indef).mbl-globally-blocked-temp
{
	opacity: 0.7;
	text-decoration: line-through;
	border-bottom: dashed medium red;
}
/* 04DURU */
.mbl-userlink:not(.mbl-blocked-temp):not(.mbl-blocked-indef).mbl-blocked-partial.mbl-globally-locked:not(.mbl-globally-blocked-indef):not(.mbl-globally-blocked-temp),
.mbl-userlink:not(.mbl-blocked-temp):not(.mbl-blocked-indef).mbl-blocked-partial:not(.mbl-globally-locked).mbl-globally-blocked-indef:not(.mbl-globally-blocked-temp),
.mbl-userlink:not(.mbl-blocked-temp):not(.mbl-blocked-indef).mbl-blocked-partial:not(.mbl-globally-locked).mbl-globally-blocked-indef.mbl-globally-blocked-temp
{
	opacity: 0.4;
	text-decoration: underline dotted;
	border-bottom: dashed medium red;
}
/* 07DURU */
.mbl-userlink:not(.mbl-blocked-temp):not(.mbl-blocked-indef).mbl-blocked-partial:not(.mbl-globally-locked):not(.mbl-globally-blocked-indef).mbl-globally-blocked-temp
{
	opacity: 0.7;
	text-decoration: underline dotted;
	border-bottom: dashed medium red;
}
