/* Config */
#mblc-container {
	position: relative;
}
#mblc-container-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#mblc-optionfield {
	padding: 1em;
	margin: 0;
	border: 1px solid var(--border-color-subtle, #c8ccd1);
}
.mblc-exclamation {
	display: inline-block;
	width: 0.5em;
	text-align: center;
	color: var(--color-destructive, red);
}
#mblc-save {
	margin-top: 0.5em;
}

/* General */
.mbl-userlink {
	opacity: 1;
}

/**
 * Classes for locally blocked users. These classes are mutually exclusive.
 */
.mbl-blocked-indef {
	opacity: 0.6;
	text-decoration: line-through double;
}
.mbl-blocked-temp {
	text-decoration: line-through;
}
.mbl-blocked-partial {
	text-decoration: underline dotted;
}

/**
 * Classes for globally (b)locked users. The classes for global block can
 * overlap with the class for global lock.
 */
.mbl-globally-locked {
	opacity: 0.6;
	border-bottom: red double;
}
.mbl-globally-blocked-indef:not(.mbl-globally-locked) {
	opacity: 0.6;
	border-bottom: 2px red dashed;
}
.mbl-globally-blocked-temp:not(.mbl-globally-locked) {
	border-bottom: 2px red dashed;
}

/* Increase opacity on dark mode for better readability */
@media screen {
	html.skin-theme-clientpref-night .mbl-blocked-indef,
	html.skin-theme-clientpref-night .mbl-globally-locked,
	html.skin-theme-clientpref-night .mbl-globally-blocked-indef:not(.mbl-globally-locked) {
		opacity: 0.8;
	}
}
@media screen and (prefers-color-scheme: dark) {
	html.skin-theme-clientpref-os .mbl-blocked-indef,
	html.skin-theme-clientpref-os .mbl-globally-locked,
	html.skin-theme-clientpref-os .mbl-globally-blocked-indef:not(.mbl-globally-locked) {
		opacity: 0.8;
	}
}